@model Tracker_App.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>
<link href="~/Scripts/Login.css" rel="stylesheet" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{
    @Html.AntiForgeryToken()
    <section class="vh-100 bg-image"
             style="background-image: url('../../Images/REGISTER.jpg'); ">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 30px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                <hr />

                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="form-outline mb-100">
                                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-outline mb-6">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-outline mb-6">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>


                                <div class="form-outline mb-6">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-outline mb-6">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-push-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="form-outline mb-80">

                                    @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">

                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Register" />
                                        <a href="~/Account/login.cshtml"><input type="submit" class="btn btn-default" value="Login" /></a>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

